---
title: Digital natives Table
layout: default
---

{% include components/navBarTable.html %}
<!-- <div class="landingTable">
  <h1 class="tableTitle"></h1>
  <ul class="tableProgram">
    <li class="tablePart">
      <img src="" alt="icon-interventants">
      <h2 class="tableSubTitle">Intervenants</h2>
   </li>
    <li class="tablePart">
      <img src="" alt="icon-live">
      <h2 class="tableSubTitle">Direct Live</h2>
    </li>
    <li class="tablePart">
      <img src="" alt="icon-ouvrage">
      <h2 class="tableSubTitle">Ouvrage</h2>
    </li>
    <li class="tablePart">
      <img src="" alt="icon-poster">
      <h2 class="tableSubTitle">Poster</h2>
    </li>
  </ul>
</div>
<div class="tablePoster">
  <img src="" alt="tablePoster">
</div>
<div class="directLiveSection">
<div class="liveContentBox">
  <div class="titleBox">
    <img src="" alt="" class="iconLive">
    <h2 class="tableSubTitle">Le Direct Live</h2>
  </div>
  <div class="liveContentText">

  </div>
</div>
</div> -->
{% include sections/table.html %}
