
<main class="sideContainer">
  {% include components/leftSide.html %}
  {% include components/rightSide.html %}

  <article class="bgBlack popProgramme " id="popSection">
    {% include components/popUpProgramme.html %}


  </article>

</main>


<script>

  const progBtnTmp = document.getElementsByClassName('programmePopBtn')
  const progBtn = progBtnTmp[0].children
  const progCroix = document.getElementsByClassName('progCroix')


  progCroix[0].onclick = function() {
    progBtn[0].classList.toggle('croixMinus')
    hide() };
  const popUpProg = document.getElementById('popSection')

  const RightSide = document.getElementsByClassName('TableContainer')


  var toggle = false

  progBtn[0].addEventListener('click', (e) => {

    e.preventDefault()

    progBtn[0].classList.toggle('croixMinus')

    if (toggle == false) {

      console.log(toggle);
      for (var i = 0; i < RightSide[0].children.length; i++) {
        const bandeau = RightSide[0].children[i]
        var delay = 0.1
        console.log(bandeau);
        bandeau.style.transform = 'translateX(100%)'
        bandeau.style.transitionDelay = i*delay + "s"
         //second console output

      }


      popUpProg.style.transform = "translateX(0)"
      popUpProg.style.transitionDelay = 6*delay + "s"
      toggle = true

    }else if (toggle == true){
      hide()
    }



  })
  function hide() {
    popUpProg.style.transform = "translateX(110%)"
    popUpProg.style.transitionDelay = "0s"

    for (var i = 0; i < RightSide[0].children.length; i++) {
      const bandeau = RightSide[0].children[i]
      var wait = 0.5
      var delay = 0.1
      console.log(bandeau);
      bandeau.style.transform = 'translateX(0%)'
      bandeau.style.transitionDelay = wait + i*delay + "s"
        //second console output

    }
    toggle = false
  }


  // console.log(progBtn[0]);
  // console.log(popUpProg[0]);

  // progBtn[0].addEventListener('click', () => {
  //   console.log('hey');
  //   popUpProg[0].classList.toggle('showPop')

  //   popUpProg[0].addEventListener('click', hide)

  // })

  // function hide(e) {
  //   if (e.target == e.currentTarget){
  //     popUpProg[0].classList.toggle('showPop')

  //   }

  // }


</script>
