source: table1.md
<section class="table">
  <nav>
    <ul>
      <li class="navBox"> <img alt="logoColoque"></li>
      <li class="navBox">
        <ul class="navLink">
          <li class="navLink">Innovation</li>
          <li class="navLink">Espace</li>
          <li class="navLink">Public</li>
          <li class="navLink">Données</li>
        </ul>
      </li>
      <li class="navBox">
        <img src="" alt="croixNav">
      </li>

    </ul>

  </nav>
  <div class="sections">
    <div class="boxTable">
      <h1>Confiance et Données</h1>
      um

    </div>
  </div>
</section>


<h1>This is the table section</h1>
