.side{
  width: 50vw;
  height: 100vh;

}
.sideContainer{
  display: flex;
  overflow: hidden;
  position: relative;
}
.left{
  position: relative;
}
.right{

}
/************************* LEFT SIDE ***********************************/
//toggle navbar
.hOnNavBar{

  height: 5rem;
  position: absolute;top: 0;right: 0;
  width: 0;z-index: 3;
  overflow: hidden;
  transition: width 0.5s;
  transition-timing-function: cubic-bezier(.93,-0.04,1,.93);
}
.hambOn{
  width: 100% !important;

}
.hambAnim{

  height: 2rem !important;
  & > .line {
    transform: rotateZ(45deg) translateY(-50%) !important;

  }
}

.hambAnim::before{


  transform: scale(0) !important;

}

.hambAnim::after{
  transform: rotateZ(-45deg) translateY(55%);
  bottom: 50% !important;


}

//side Text
.textWhite{
  position: relative;
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.014);

  backdrop-filter: blur( 3px );


  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;


  h1{font-size: $fsTitle;font-family: $ffFutura;}
  h2{font-size: $fsSsTitle;font-family: $ffFutura;}
  p{font-size: $fsText;margin: 1.2rem 0;font-family: $ffGotham;}

  width: 90%;

  margin: 3.5rem 0;
}
//pop up
.popProgramme{
  position: absolute;



  top: 0;bottom: 0;right: 0;
  transform: translateX(110%);
  z-index: -1;
  z-index: 20;
  transition: all 0.4s;
  width: 50vw;


}
.showPop{
  z-index: 20;


}
@keyframes showPopUp {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.4);
  }
}


//hNavBar

.hNavBar{
  justify-content: space-between;
  margin-top: 20px;
}

//Btn programme
.programmeSec{
  width: 100%;
  align-items: center;
  justify-content: space-between;
  transform: translate(2rem, 1rem);
  margin-top: 10rem;
}
//le reste dans components

//bulles bleues
#bHG{transform: translate(-50px ,-50px);}
#bHD{right: 15%;transform: translateY(-10px);}
#bM{right: 2%;top: 50%;}
#bBG{left: 5%;bottom: 6%;}
#bBD{right: 0;bottom: 0;transform: translateY(80%);}

/************************* Right SIDE ***********************************/

//bandeaux des 4 tables
.bande{
  width: 100%;
  background-position: center ;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;


}
.buttonProg{
  justify-content: space-between;
  position: absolute;
  bottom: 20%;right: 2%;
}
