.hamburger{
  width: fit-content;
  height: 3rem;
  display: flex;flex-direction: column;justify-content: space-between;
  padding: 0.7rem;
  cursor: pointer;
  position: relative;
  z-index: 4;




  .line{
    height: 4px;
    width: 2rem;
    border-radius: 50% / 13px;
    background-color: $blue;
  }
  &::before, &::after{
    content: "";
    display: block;
    height: 4px;
    width: 2rem;
    border-radius: 50% / 13px;
    background-color: $white;

  }

}
.programme{
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  cursor: pointer;

  gap: 2rem;

  p{
    margin: 0;
  }
}
.bublle{
  position: absolute;
}
.croix{
  position: relative;
  &::before, &::after{
    content: "";
    display: block;
    height: 2.3px;
    width: 1.6rem;
    border-radius: 50% / 13px;


  }
  &::after{background-color: $blue;}
  &::before{
    position: absolute;
    transform: rotate(90deg);
    background-color: white;
  }
}
.btn{
  padding: 1rem;
  border-radius: 12px;
}
