<nav class="flex hNavBar">
  <div></div>
  <div class="hamburger" onclick="hamb()">
    <div class="line blue"></div>

  </div>

</nav>
<nav class="hOnNavBar bgBlack">
  <ul class="flex txtWhite mainNav">
    <li><p class="ffGotham"> Premier Btn </p></li>
    <li><p class="ffGotham"> deuxième </p></li>
  </ul>
</nav>

<script>
  function hamb() {
    const hOnNavBar = document.getElementsByClassName('hOnNavBar')
    const hambToggle = document.getElementsByClassName('hamburger')

    hOnNavBar[0].classList.toggle('hambOn')
    hambToggle[0].classList.toggle('hambAnim')
  }
</script>
