{% assign mainPage = site.years | where: "mainPage", "true" %}
{% assign rightYear = mainPage | where: "year", page.year %}

<nav class="navTable">
  <ul>
    <li class="navBox">
      <a href="/{{ page.year }}">
        <div class="flex programme btn ">
          <div class="croix"></div>
        </div>
      </a>
    </li>
    <li class="navBoxText">
      <ul class="navLink">
        {% for item in rightYear[0].homePageInfos %}

          <li class="navLink"><a href="/{{ page.year }}/{{ item.source }}">{{ item.elmtName }}</a></li>

        {% endfor %}
      </ul>
    </li>
    <li class="navBox">
      <a href="/2022.html">
        <img src="../../assets/logos/logo.svg" alt="logo">
      </a>
    </li>

  </ul>
</nav>
