<div class="flex">
  <article><h1 class="ffGotham fsText">PROGRAMME</h1><p>de chaque table</p></article>
  <div class="croix progCroix progCroixWhite"></div>
</div>

<article class="progTextBlock">
  <h2>Présentation de l'ouvrage :</h2>
  <p>10 minutes en live le jour du colloque<br>et vidéo de 10 minutes mise en ligne à la suite du colloque</p>
</article>
<article class="progTextBlock">
  <h2>Présentation d'un poster scientifique :</h2>
  <p>5 minutes de présentation le jour du colloque <br> puis disponible en vidéo à la suite du colloque</p>
</article>
<article class="progTextBlock">
  <h2>Retex 1 :</h2>
  <p>Intervention de 20 minutes puis 10 minutes de questions</p>
</article>
<article class="progTextBlock">
  <h2>Retex 2 ou Communication :</h2>
  <p>Intervention de 20 minutes puis 10 minutes de questions</p>
</article>
<article class="progTextBlock">
  <h2>Conclusion :</h2>
  <p>Vidéo de 3 minutes de conclusion pour favoriser la transition des tables</p>
</article>
