<article class="textWhite">
  <h2>Édition 2022</h2>
  <h1>CONFIANCE</h1>
  <p>« On « croit » en une personne, sans que cette foi soit justifiée par les preuves que cette personne en est
    digne, et même, bien souvent, malgré la preuve du contraire. »

  </p>
  <p>
    Georg Simmel (1858-1918) - Sociologie. Étude sur les formes de la socialisation
  </p>
  <section class="programmeSec flex">
    <div></div>
    <div class="flex programme btn bgBlack">
      <p>Programme</p>
      <div class="croix"></div>
  </div>
  </section>

</article>
