
<section class="tableWrapper">
<div class="{{page.banner}}"></div>
<div class="slide slide1 landingTableBox">
  <h1 class="tableTitle">{{ page.title }}</h1>
  <ul class="tableProgramList">
    <li class="tablePart">
      <img src="../../assets/imgs/poster.svg" alt="icon-interventants">
      <a href="#poster" class="tableSubTitle">
        <h2 class="tableSubTitle">Poster</h2>
      </a>
   </li>
    <li class="tablePart">
      <img src="../../assets/imgs/intervenant.svg" alt="icon-live">
      <a href="#intervenants" class="tableSubTitle">
        <h2 class="tableSubTitle">Intervenants</h2>
      </a>
    </li>
    <li class="tablePart">
      <img src="../../assets/imgs/live.svg" alt="icon-ouvrage">
      <a href="#live" class="tableSubTitle">
        <h2 class="tableSubTitle">Direct Live</h2>
      </a>
    </li>
    <li class="tablePart">
      <img src="../../assets/imgs/ouvrage.svg" alt="icon-poster">
      <a href="#ouvrage" class="tableSubTitle">
        <h2 class="tableSubTitle">Ouvrage</h2>
      </a>
    </li>
  </ul>
</div>

<div id="poster" class="slide imgBoxPoster">
  <!-- <img src="" alt="tablePoster"> -->
</div>

<div  class="slide tablePoster">
    <div class="textPoster">
      <h2 class="titlePoster">Le Poster</h2>
      <p class="txtPoster">{{page.poster}}</p>
    </div>
</div>
<!-- -------------LIVE SECTION------------- -->
<div id="live"class="slide directLiveSection">
  <div class="liveFlex titleBoxLive">
    <div class= "subtitleBoxLive">
      <img src="../../assets/imgs/live.svg" alt="iconLive" class="iconLive">
      <h2 class="tableSubTitle">Le Direct Live</h2>
    </div>
    <div class="boxImgLive">
      <div class="imgBoxHost">
        <img class="imgHost"src="{{page.presentateur_img}}" alt="photo présentateur">

      </div>
      <div class="hostBanner">
        <p class="hostName">Présenté par {{page.presentateur_name}}</p>
      </div>
    </div>
  </div>

  <div class="liveFlex liveMiddle">
    <div class="liveContentText">
      <div class="angleSection">
        <h3 class="tableSubTitle">L'angle</h3>
        <p class="text">{{page.angle}}</p>
        <img src="" alt="image-angle">
      </div>
    </div>
  </div>
  <!-- <div class="liveFlex liveRight">
    <div class="liveContentText">
      <div class="liveSection">
        <h3 class="tableSubTitle">Retex</h3>
        <p class="text">{{page.retex}}</p>
      </div>
      <div class="liveSection">
        <h3 class="tableSubTitle">Com Scientifique</h3>
        <p class="text">{{page.com}}</p>
      </div>
    </div>
  </div> -->

</div>

<!-- VIDEO SECTION -->

<div id="video" class="slide slide4 videoTable"></div>

<!-- INTERVENANTS SECTION -->

<div id="intervenants" class="slide  intervenant">
  <div class="imgBoxIntervenant">
    <div class="bannerIntervenant ">
      <p class="titleBannerIntervenant">{{page.profession1}}</p>
    </div>
    <img src="../../assets/imgs/imgIntervenant.png" alt="" class="imgIntervenant">
  </div>
  <div class="sectionIntervenant middleInter">
    <h2 class="tableSubTitle titleIntervenant ">{{page.name1}}</h2>
  </div>
  <div class="sectionIntervenant rightInter">
    <h2 class="tableSubTitle titleIntervenant">Résumé</h2>
    <p class="infoInter">{{page.com}}</p>
    <a href="" class="btnLinkNext">
      <div class="btnBoxNext">
        <p class="txtBtnNext">Suivant</p>
        <img class="imgBtnNext" src="../../assets/imgs/next.png" alt="">
      </div>
    </a>


  </div>

</div>
</section>
