


<section class="tableWrapper">

  <div class="{{page.banner}}"></div>
  <div class="slide slide1 landingTableBox">
    <h1 class="tableTitle">{{ page.title }}</h1>
    <ul class="tableProgramList">
      <li class="tablePart">
        <img alt="icon-interventants" src="../../assets/imgs/poster.svg">
        <a class="tableSubTitle" href="#poster">
          <h2 class="tableSubTitle">Poster</h2>
        </a>
      </li>
      <li class="tablePart">
        <img alt="icon-live" src="../../assets/imgs/intervenant.svg">
        <a class="tableSubTitle" href="#intervenants">
          <h2 class="tableSubTitle">Intervenants</h2>
        </a>
      </li>
      <li class="tablePart">
        <img alt="icon-ouvrage" src="../../assets/imgs/live.svg">
        <a class="tableSubTitle" href="#live">
          <h2 class="tableSubTitle">Direct Live</h2>
        </a>
      </li>
      <li class="tablePart">
        <img alt="icon-poster" src="../../assets/imgs/ouvrage.svg">
        <a class="tableSubTitle" href="#ouvrage">
          <h2 class="tableSubTitle">Ouvrage</h2>
        </a>
      </li>
    </ul>
  </div>

  <div class="slide imgBoxPoster" id="poster">
    <!-- <img src="" alt="tablePoster"> -->
  </div>

  <div class="slide tablePoster">
    <div class="textPoster">
      <h2 class="titlePoster">Le Poster</h2>
      <p class="txtPoster">{{page.poster}}</p>
    </div>
  </div>
  <!-- <temp data-prettydiff-ignore>-------</temp><temp data-prettydiff-ignore>------LIVE SECTION---</temp><temp data-prettydiff-ignore>-------</temp>--- -->
  <div class="slide directLiveSection" id="live">
    <div class="liveFlex titleBoxLive">
      <div class="subtitleBoxLive">
        <img alt="iconLive" class="iconLive" src="../../assets/imgs/live.svg">
        <h2 class="tableSubTitle">Le Direct Live</h2>
      </div>
      <div class="boxImgLive">
        <div class="imgBoxHost">
          <img class="imgHost" src="{{page.presentateur_img}}" alt="photo présentateur">

        </div>
        <div class="hostBanner">
          <p class="hostName">Présenté par
            {{page.presentateur_name}}</p>
        </div>
      </div>
    </div>

    <div class="liveFlex liveMiddle">
      <div class="liveContentText">
        <div class="angleSection">
          <h3 class="tableSubTitle">L'angle</h3>
          <p class="text">{{page.angle}}</p>
          <img alt="image-angle" src="">
        </div>
      </div>
    </div>
    <!-- <div class="liveFlex liveRight">
    <div class="liveContentText">
      <div class="liveSection">
        <h3 class="tableSubTitle">Retex</h3>
        <p class="text">{{page.retex}}</p>
      </div>
      <div class="liveSection">
        <h3 class="tableSubTitle">Com Scientifique</h3>
        <p class="text">{{page.com}}</p>
      </div>
    </div>
  </div> -->

  </div>

  <!-- VIDEO SECTION -->

  <div class="slide slide4 videoTable" id="video"></div>

  <!-- INTERVENANTS SECTION -->

  <div class="slide  intervenant" id="intervenants">
    <div class="imgBoxIntervenant">
      <div class="bannerIntervenant ">
        <p class="titleBannerIntervenant">{{page.profession1}}</p>
      </div>
      <img alt="" class="imgIntervenant" src="../../assets/imgs/imgIntervenant.png">
    </div>
    <div class="sectionIntervenant middleInter">
      <h2 class="tableSubTitle titleIntervenant ">{{page.name1}}</h2>
    </div>
    <div class="sectionIntervenant rightInter">
      <h2 class="tableSubTitle titleIntervenant">Résumé</h2>
      <p class="infoInter">{{page.com}}</p>
      <a class="btnLinkNext" href="">
        <div class="btnBoxNext">
          <p class="txtBtnNext">Suivant</p>
          <img alt="" class="imgBtnNext" src="../../assets/imgs/next.png">
        </div>
      </a>


    </div>

  </div>
</section>
