
<section class="tableWrapper">

<div class="slide slide1 landingTableBox">
  <h1 class="tableTitle">{{ page.title }}</h1>
  <ul class="tableProgramList">
    <li class="tablePart">
      <img src="../../assets/imgs/poster.svg" alt="icon-interventants">
      <a href="#poster" class="tableSubTitle">
        <h2 class="tableSubTitle">Poster</h2>
      </a>
   </li>
    <li class="tablePart">
      <img src="../../assets/imgs/intervenant.svg" alt="icon-live">
      <h2 class="tableSubTitle">Intervenants</h2>
    </li>
    <li class="tablePart">
      <img src="../../assets/imgs/live.svg" alt="icon-ouvrage">
      <h2 class="tableSubTitle">Direct Live</h2>
    </li>
    <li class="tablePart">
      <img src="../../assets/imgs/ouvrage.svg" alt="icon-poster">
      <h2 class="tableSubTitle">Ouvrage</h2>
    </li>
  </ul>
</div>

<div id="posterImg" class="slide imgBoxPoster">
  <!-- <img src="" alt="tablePoster"> -->
</div>

<div  class="slide tablePoster">
    <div class="textPoster">
      <h2 class="titlePoster">Le Poster</h2>
      <p class="txtPoster">{{page.poster}}</p>
    </div>
</div>
<!-- -------------LIVE SECTION------------- -->
<div class="slide directLiveSection">
  <div class="liveFlex titleBoxLive">
    <div class= "subtitleBoxLive">
      <img src="../../assets/imgs/live.svg" alt="iconLive" class="iconLive">
      <h2 class="tableSubTitle">Le Direct Live</h2>
    </div>
    <div class="boxImgLive">
      <div class="imgOrganisateur">
      <!-- <img src="" alt="" class="imgLiveHost"> -->

      </div>
      <div class="hostBanner">
        <p class="hostName">{{page.presentateur_name}}</p>
      </div>
    </div>
  </div>

  <div class="liveFlex liveMiddle">
    <div class="liveContentText">
      <div class="angleSection">
        <h3 class="tableSubTitle">L'angle</h3>
        <p class="text">{{page.angle}}</p>
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="liveFlex liveRight">
    <div class="liveContentText">
      <div class="liveSection">
        <h3 class="tableSubTitle">Retex</h3>
        <p class="text">{{page.retex}}</p>
      </div>
      <div class="liveSection">
        <h3 class="tableSubTitle">Com Scientifique</h3>
        <p class="text">{{page.com}}</p>
      </div>
    </div>
  </div>

</div>

<!-- VIDEO SECTION -->

<div class="slide slide4 videoTable"></div>

<!-- INTERVENANTS SECTION -->

<div class="slide slide5 intervenant">
  <div class="imgBoxIntervenant">
    <div class="bannerIntervenant">
      <p class="titleBannerIntervenant">{{page.profession1}}</p>
    </div>
    <img src="../../assets/imgs/imgIntervenant.png" alt="" class="imgIntervenant">
  </div>
  <div class="sectionIntervenant leftInter">
    <h2 class="titleIntervenant">{{page.name1}}</h2>
    <div class="imgFlexIntervenant">
      <div class="bannerIntervenant">
        <p class="textIntervenant professionInter">{{page.profession1}}</p>
      </div>
      <img src="" alt="imgIntervenant" class="imgIntervenant">
    </div>
  </div>

  <div class="sectionIntervenant middleInter">
    <ul class="listInfoIntervenant">
      <li class="infoInter">{{page.name1}}</li>
      <li class="infoInter">{{page.name2}}</li>
      <li class="infoInter">{{page.name3}}</li>
      <li class="infoInter">{{page.name3}}</li>
    </ul>
  </div>
  <div class="sectionIntervenant rightInter">
    <h2 class="titleIntervenant">Résumé</h2>
    <p class="infoInter">{{page.resume1}}</p>
  </div>

</div>
</section>
