.table{
  background-color: black;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.landingTableBox{
  width: 50%;

  margin: 0 auto;
  color: $white;
  font-family: $ffFutura;
  // color: $white;
}
.tableTitle{
  font-size: 3.5rem;
}
.tableProgramList{
  margin: 10% auto;
}
.tablePart{
  font-size: 2rem;
  margin: 3% 0;
  display: flex;
  align-content: center;
}
.tableSubTitle{
  align-self: center;
  margin-left: 2%;
  color: white;
  cursor: pointer;
}
.tableSubTitle:hover{
  transition: .5s ease-in-out;
  color: $blue;
}
